<section class="our-products-section">
  <div class="our-products-container">
    <h2 class="our-products-title">OUR PRODUCTS</h2>
    <ul class="our-products-list list">
      <li class="our-products-list-point">
        <a href="" class="our-products-link">
          <img
            srcset="
            /src/img/our-products/our-products-img1@1x.jpg,
              /src/img/our-products/our-products-img1@2x.jpg
            "
            src="/src/img/our-products/our-products-img1@1x.jpg"
            class="our-products-img"
            alt="white TV stand with wooden legs"
            width="312"
            height="300"
          />
          <p class="our-products-paragraph">Minimalist storage solutions</p>
        </a>
      </li>
      <li class="our-products-list-point">
        <a href="" class="our-products-link">
          <img
            srcset="
            /src/img/our-products/our-products-img2@1x.jpg,
              /src/img/our-products/our-products-img2@2x.jpg
            "
            src="/src/img/our-products/our-products-img2@1x.jpg"
            class="our-products-img"
            alt="dark blue sofa with gray pillows"
            width="312"
            height="300"
          />
          <p class="our-products-paragraph">Handcrafted minimalist seating</p>
        </a>
      </li>
      <li class="our-products-list-point">
        <a href="" class="our-products-link">
          <img
            srcset="
            /src/img/our-products/our-products-img3@1x.jpg,
            /src/img/our-products/our-products-img3@2x.jpg
            "
            src="/src/img/our-products/our-products-img3@1x.jpg"
            class="our-products-img"
            alt="marble table and large round mirror"
            width="312"
            height="300"
          />
          <p class="our-products-paragraph">Sleek and simple tables</p>
        </a>
      </li>
      <li class="our-products-list-point">
        <a href="" class="our-products-link">
          <img
            srcset="
            /src/img/our-products/our-products-img4@1x.jpg,
            /src/img/our-products/our-products-img4@2x.jpg
            "
            src="/src/img/our-products/our-products-img4@1x.jpg"
            alt="dark blue bar chair with wooden legs"
            width="312"
            height="300"
          />
          <p class="our-products-paragraph">
            Minimalist seating for every space
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
